/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 h1, h2, h3 {
 	border-bottom: 1px solid #ccc;
 }

 .section{
 	display:none;
 	padding: 0 20px 20px 20px;
 	background: white;
 	border-radius: 15px;
 }

.posts {
	margin: 20px 0 0 0;
}

.date-time{
	font-size: 85%;
	color: #aaa;
	margin: 0 0 5px 0;
}

.discussion > h3 {
	color: #008500;
}