/* Custom Styles */

h1, h2, h3 {
  border-bottom: 1px solid #ccc;
 }

 textarea#post_entry{
  width: 90%;
 }

 .rss-icon-index {
  width: 34px;
  height: 34px;
  float:right;
  opacity: .4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
 }

 .rss-icon-index:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
 }

 .rss-icon-index::after{
  clear:both;
 }

  .rss-icon-index:after{
  clear:both; /* For IE8 and earlier */
 }

 .section{
  display:none;
  padding: 0 20px 20px 20px;
  background: white;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
 }

.posts {
  margin: 20px 0 0 0;
}

.date-time{
  font-size: 85%;
  color: #aaa;
  margin: 0 0 5px 0;
}

.discussion > h3 {
  color: #008500;
}

ul.projects-list{
  color: #aaa;
}

ul.projects-list li a {
  font-size: 17.5px;
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  text-rendering: optimizelegibility;
}

.note {
  color: #aaa;
}

p.code-header{
  padding-left: 10px;
  margin: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  background: #E0E0E0;
}

.CodeRay .an { color:#E7BE69 }                      /* html attribute */
.CodeRay .c  { color:#BC9358; font-style: italic; } /* comment */
.CodeRay .ch { color:#509E4F }                      /* escaped character */
.CodeRay .cl { color:#FFF }                         /* class */
.CodeRay .co { color:#FFF }                         /* constant */
.CodeRay .fl { color:#A4C260 }                      /* float */
.CodeRay .fu { color:#FFC56D }                      /* function */
.CodeRay .gv { color:#D0CFFE }                      /* global variable */
.CodeRay .i  { color:#A4C260 }                      /* integer */
.CodeRay .il { background:#151515 }                 /* inline code */
.CodeRay .iv { color:#D0CFFE }                      /* instance variable */
.CodeRay .pp { color:#E7BE69 }                      /* doctype */
.CodeRay .r  { color:#CB7832 }                      /* keyword */
.CodeRay .rx { color:#A4C260 }                      /* regex */
.CodeRay .s  { color:#A4C260 }                      /* string */
.CodeRay .sy { color:#6C9CBD }                      /* symbol */
.CodeRay .ta { color:#E7BE69 }                      /* html tag */
.CodeRay .pc { color:#6C9CBD }                      /* boolean */